<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="-scon-t-con-heading" jhiTranslate="pessoasApp.sconTCon.home.createOrEditLabel">Create or edit a Scon T Con</h2>
            <div>
                <-alert-error></-alert-error>
                <div class="form-group" [hidden]="!sconTCon.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sconTCon.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pessoasApp.sconTCon.nome" for="field_nome" [ngbTooltip]="'pessoasApp.sconTCon.help.nome' | translate">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="sconTCon.nome" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pessoasApp.sconTCon.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="sconTCon.email" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pessoasApp.sconTCon.idlgbc" for="field_idlgbc">Idlgbc</label>
                    <input type="number" class="form-control" name="idlgbc" id="field_idlgbc"
                        [(ngModel)]="sconTCon.idlgbc" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pessoasApp.sconTCon.idlgbr" for="field_idlgbr">Idlgbr</label>
                    <input type="number" class="form-control" name="idlgbr" id="field_idlgbr"
                        [(ngModel)]="sconTCon.idlgbr" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pessoasApp.sconTCon.idlgbc" for="field_idlgbc">Idlgbc</label>
                    <select class="form-control" id="field_idlgbc" name="idlgbc" [(ngModel)]="sconTCon.idlgbc">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sconTLgbOption.id === sconTCon.idlgbc?.id ? sconTCon.idlgbc : sconTLgbOption" *ngFor="let sconTLgbOption of idlgbcs; trackBy: trackSconTLgbById">{{sconTLgbOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pessoasApp.sconTCon.idlgbr" for="field_idlgbr">Idlgbr</label>
                    <select class="form-control" id="field_idlgbr" name="idlgbr" [(ngModel)]="sconTCon.idlgbr">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sconTLgbOption.id === sconTCon.idlgbr?.id ? sconTCon.idlgbr : sconTLgbOption" *ngFor="let sconTLgbOption of idlgbrs; trackBy: trackSconTLgbById">{{sconTLgbOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
